APScheduler==3.6.3
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
idna==2.10
lxml==4.6.5
pyasn1==0.4.8
pycparser==2.20
python-telegram-bot==13.7
pytz==2021.3
requests==2.25.1
rsa==4.7.2
six==1.16.0
soupsieve==2.2.1
tornado==6.1
tzdata==2021.2.post0
tzlocal==3.0
urllib3==1.26.5
