name: Daily Bonus

on:
  schedule:
    - cron: '30 23 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      BILIBILI_bili_jct: ${{ secrets.BILIBILI_bili_jct }}
      BILIBILI_DedeUserID: ${{ secrets.BILIBILI_DedeUserID }}
      BILIBILI_SESSDATA: ${{ secrets.BILIBILI_SESSDATA }}
      MUSIC_CELLPHONE: ${{ secrets.MUSIC_CELLPHONE }}
      MUSIC_PASSWORD: ${{ secrets.MUSIC_PASSWORD }}
      YAMIBO_COOKIES: ${{ secrets.YAMIBO_COOKIES }}
      V2EX_COOKIES: ${{ secrets.V2EX_COOKIES }}
      PICA_EMAIL: ${{ secrets.PICA_EMAIL }}
      PICA_PASSWORD: ${{ secrets.PICA_PASSWORD }}
      TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
      TG_USER_ID: ${{ secrets.TG_USER_ID }}

    steps:
      - uses: actions/checkout@v2
      - name: Set timezone
        run: sudo timedatectl set-timezone 'Asia/Shanghai'
      - name: Echo current time
        run: timedatectl
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Check-in
        run: python ./message.py
        if: always()
